In [3]:
import pandas as pd

In [3]:
df_fuentes = pd.read_csv("../data/madrid/fuentes/fuentes_nuevo.csv")
df_museos = pd.read_csv("../data/madrid/museos/museos_nuevo.csv")
df_parques = pd.read_csv("../data/madrid/Parques y jardines/parques_y_jardines_nuevo.csv")
df_oficinas = pd.read_csv("../data/madrid/oficinas_turismo/tourist_office_nuevo.csv")
df_piscinas = pd.read_csv("../data/madrid/Piscinas/piscinas_madrid_nuevo.csv")

In [4]:
df_fuentes.head()

,TIPO,NOMBRE,DIRECCION,DESCRIPCION,LATITUD,LONGITUD
0,FUENTES,FUE_01_0001,"CENTRO, PLAZA COMENDADORAS",PLAZA COMENDADORAS,40.427243,-3.708600
1,FUENTES,FUE_01_0002,"CENTRO, JARDINES CONDE DUQUE",JARDINES CONDE DUQUE,40.428724,-3.710101
2,FUENTES,FUE_01_0003,"CENTRO, PLAZA DE LAS SALESAS",PLAZA DE LAS SALESAS,40.424246,-3.694603
3,FUENTES,FUE_01_0004,"CENTRO, PLAZA VILLA DE PARIS",PLAZA VILLA DE PARIS,40.425298,-3.692202
4,FUENTES,FUE_01_0005,"CENTRO, PLAZA VILLA DE PARIS",PLAZA VILLA DE PARIS,40.425562,-3.693176

In [5]:
df_museos.head()

,TIPO,NOMBRE,DIRECCION,DESCRIPCION,LATITUD,LONGITUD
0,MUSEOS,Casa Museo Lope de Vega,"CALLE CERVANTES 11, MADRID, 28014","'Mi casilla, mi quietud, mi güertecillo y estu...",40.414358,-3.697474
1,MUSEOS,Casita - Museo del Ratón Pérez,"CALLE ARENAL 8, MADRID, 28013","La Casita-Museo de Ratón Pérez, constituye un ...",40.417060,-3.705520
2,MUSEOS,Castillo de la Alameda,"CALLE ANTONIO SANCHA 1, MADRID, 28042",El Castillo de la Alameda o de Barajas se trat...,40.458355,-3.593290
3,MUSEOS,Casón del Buen Retiro.,"CALLE ALFONSO XII 28, MADRID, 28014",El Centro de Estudios del Prado está ubicado e...,40.415275,-3.689222
4,MUSEOS,Centro Cultural La Corrala. Museo de Artes y T...,"CALLE CARLOS ARNICHES 3, MADRID, 28005",Descripción no disponible,40.408827,-3.708324

In [6]:
df_parques.head()

,TIPO,NOMBRE,DIRECCION,DESCRIPCION,LATITUD,LONGITUD
0,PARQUES_Y_JARDINES,Jardines Gregorio Ordóñez,"CALLE PRINCIPE DE VERGARA 68, MADRID, 28006",Jardines en memoria de Gregorio Ordóñez. Este ...,40.433462,-3.678595
1,PARQUES_Y_JARDINES,Jardines San Francisco el Grande,"AVENIDA GRAN VIA DE SAN FRANCISCO 25, MADRID, ...",Este jardín se encuentra en el solar de 4.200 ...,40.410022,-3.714420
2,PARQUES_Y_JARDINES,Jardines de Andrés Saborit,"CALLE RAIMUNDO FERNANDEZ VILLAVERDE 32, MADRID...",Jardines situados en la calle Raimundo Fernánd...,40.446133,-3.698970
3,PARQUES_Y_JARDINES,Jardines de El Buen Retiro,"PLAZA INDEPENDENCIA 7, MADRID, 28001",Jardín Histórico Artístico creado en el siglo ...,40.419641,-3.687934
4,PARQUES_Y_JARDINES,Jardines de Gloria Fuertes,"CALLE MADRE DE DIOS 2, MADRID, 28016",Jardín dedicado a la poetisa y escritora de cu...,40.461518,-3.675118

In [7]:
df_oficinas.head()

,TIPO,NOMBRE,DIRECCION,DESCRIPCION,LATITUD,LONGITUD
0,OFICINAS_TURISMO,Centro de Turismo Plaza Mayor,"PLAZA MAYOR 27, MADRID, 28012",Madrid cuenta en el Salón de Columnas de la Ca...,40.415839,-3.707426
1,OFICINAS_TURISMO,Centro de Turismo de Sol. Comunidad de Madrid,"PLAZA PUERTA DEL SOL 5, MADRID, 28013",No disponible,40.416618,-3.702830
2,OFICINAS_TURISMO,Madrid Film Office,"PLAZA MAYOR 27, MADRID, 28012",Madrid Film Office es un servicio público del ...,40.415794,-3.707411
3,OFICINAS_TURISMO,Oficina Joven Comunidad de Madrid. TIVE. Moncloa,"CALLE FERNANDO EL CATOLICO 88, MADRID, 28015",No disponible,40.434423,-3.717795
4,OFICINAS_TURISMO,Oficina de Turismo de Andalucía en Madrid,"AVENIDA FELIPE II 15, MADRID, 28009",No disponible,40.424184,-3.673810

In [8]:
df_piscinas.head()

,TIPO,NOMBRE,DIRECCION,DESCRIPCION,LATITUD,LONGITUD
0,PISCINAS,Centro Deportivo Municipal María Jesús Rosa (...,"AVENIDA MONFORTE DE LEMOS 38.0, MADRID, 28029",No disponible,40.478768,-3.708699
1,PISCINAS,Centro Deportivo Municipal Alcántara,"CALLE ALCANTARA 26.0, MADRID, 28006",No disponible,40.428103,-3.673732
2,PISCINAS,Centro Deportivo Municipal Alfredo Goyeneche,"CALLE ARROYO DE POZUELO 99.0, MADRID, 28023",No disponible,40.452121,-3.783283
3,PISCINAS,Centro Deportivo Municipal Aluche,"AVENIDA DE LAS AGUILAS 14.0, MADRID, 28044",No disponible,40.382721,-3.773654
4,PISCINAS,Centro Deportivo Municipal Ángel Nieto (antigu...,"CALLE PAYASO FOFO 7.0, MADRID, 28018",No disponible,40.391462,-3.659864

In [10]:
df_concat = pd.concat([df_fuentes, df_museos, df_parques, df_oficinas, df_piscinas], ignore_index=True)
df_concat

,TIPO,NOMBRE,DIRECCION,DESCRIPCION,LATITUD,LONGITUD
0,FUENTES,FUE_01_0001,"CENTRO, PLAZA COMENDADORAS",PLAZA COMENDADORAS,40.427243,-3.708600
1,FUENTES,FUE_01_0002,"CENTRO, JARDINES CONDE DUQUE",JARDINES CONDE DUQUE,40.428724,-3.710101
2,FUENTES,FUE_01_0003,"CENTRO, PLAZA DE LAS SALESAS",PLAZA DE LAS SALESAS,40.424246,-3.694603
3,FUENTES,FUE_01_0004,"CENTRO, PLAZA VILLA DE PARIS",PLAZA VILLA DE PARIS,40.425298,-3.692202
4,FUENTES,FUE_01_0005,"CENTRO, PLAZA VILLA DE PARIS",PLAZA VILLA DE PARIS,40.425562,-3.693176
...,...,...,...,...,...,...
2510,PISCINAS,Centro Deportivo Municipal Vallecas Verano,"CALLE ARROYO DEL OLIVAR 51.0, MADRID, 28018",No disponible,40.390369,-3.657214
2511,PISCINAS,Centro Deportivo Municipal Vallehermoso,"AVENIDA FILIPINAS 7.0, MADRID, 28003",No disponible,40.440648,-3.709053
2512,PISCINAS,Centro Deportivo Municipal Vicente del Bosque,"AVENIDA MONFORTE DE LEMOS 13.0, MADRID, 28029",No disponible,40.478914,-3.693541
2513,PISCINAS,Centro Deportivo Municipal Wilfred Agbonavbare...,"CALLE REGUERA DE TOMATEROS, 39B No disponible,...",No disponible,40.372421,-3.657452
2514,PISCINAS,Club de Campo Villa de Madrid,"CARRETERA CASTILLA 12.0, MADRID, 28040",No disponible,40.438823,-3.742650

In [11]:
df_concat.to_csv("../data/madrid/df_concat.csv", index=False)

In [4]:
df_concat = pd.read_csv("../data/madrid/df_concat.csv")

In [5]:
df_concat.to_json('../data/madrid/df_concat.json', orient='records',force_ascii=False)